.customTooltip {
  background-color: white !important;
  color: #333 !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1) !important;
}

.introjs-button {
  background-color: #9e1171 !important;
  color: white !important;
  border: none !important;
  padding: 8px 16px !important;
  border-radius: 6px !important;
}

.introjs-skipbutton {
  color: #666 !important;
  background: none !important;
} 